<div style="text-align: ; padding-left: 15px;">
<style>
.btnxsm {
    line-height: 1.2;
    font-size: smaller;
    border-right: 2px solid black;
}    
</style>

<span  class="btn-group" style="min-width: 50%;" >
<i style="font-size:24px; color: firebrick;" class="fa">&#xf080;</i> 
&nbsp;&nbsp;Analytics &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn btn-secondary btn-sm btnxsm" type="button" onclick="addWidget()" href="#">Add Panel</a>
<a class="btn btn-secondary btn-sm btnxsm" type="button" onclick="saveDashboardJSON()" href="#">Save </a>
<a class="btn btn-secondary btn-sm btnxsm" type="button" onclick="GRID.removeAll()" href="#">Clear canvas </a>
<a class="btn btn-secondary btn-sm btnxsm" type="button" href="/dash/dash/about.html/" >About </a>
<a class="btn btn-secondary btn-sm btnxsm" type="button" onclick="toggleConfigureWindow()" href="#"> Show Configurtion Panel </a>

<a class="btn btn-secondary btn-sm btnxsm" type="button" onclick="$('#content').get(0).requestFullscreen()" href="#">
        <i class="fas fa-expand"></i> </a>    
</span>

</div>

