<!-- -----------------------------------------------------------------------------
    SCRIPT

 * This assumes you have a service working
------------------------------------------------------------------------------- -->
<style>
.toolbarimg {
    width: 34px;
}

</style>
<script>
let _model     = new mxGraphModel();
let _container = null
let _graph     = null
let graph      = null
let _parent    = null
let _undoManager = null
/**
 * Creates and returns an empty graph inside the given container.
 */
function createGraph(id="graph", editor=null){
    if (!mxClient.isBrowserSupported())
    {
            // Displays an error message if the browser is not supported.
            mxUtils.error('Browser is not supported!', 200, false);
    }
    _model     = new mxGraphModel();
    _container = document.getElementById(id, 6,6);
    if (editor) {
        console.log("EDITOR ....")
        //_graph     = editor.graph
        _graph     = new mxGraph(_container, _model);
        _graph.editor = editor; //.graph._container = _graph
    } else {
        _graph     = new mxGraph(_container, _model);

    }
    graph      = _graph
    _parent    = _graph.getDefaultParent();

    _graph.dropEnabled = true;      // Enables new connections in the graph
    _graph.setConnectable(true);
    _graph.setMultigraph(true);
    mxConnectionHandler.prototype.connectImage = new mxImage('/static/imgs/add.png', 8,8);
    mxConstants.DEFAULT_HOTSPOT = 1;
    mxConstants.HIGHLIGHT_COLOR = null;

    mxGraph.prototype.htmlLabels = true;
    mxGraph.prototype.isWrapping = function(cell) { return true; };
    mxGraphHandler.prototype.guidesEnabled = true;
    mxGuide.prototype.isEnabledForEvent = function(evt) { return !mxEvent.isAltDown(evt);    };

    // Enables snapping waypoints to terminals
    mxEdgeHandler.prototype.snapToTerminals = true;
    mxConnectionHandler.prototype.waypointsEnabled = true

    _graph.alternateEdgeStyle = 'elbow=vertical';

    var style = graph.getStylesheet().getDefaultVertexStyle();
    style[mxConstants.STYLE_FONTSIZE]      = 14;
    style[mxConstants.STYLE_FONTCOLOR]     = 'black';
    style[mxConstants.STYLE_STROKECOLOR]   = '#808080'
    style[mxConstants.STYLE_FILLCOLOR]     = '#fff'
    style[mxConstants.STYLE_GRADIENTCOLOR] = 'white';
    style[mxConstants.STYLE_SHADOW]        = true;
    style[mxConstants.STYLE_FONTSTYLE]     = 1;
    style[mxConstants.STYLE_ROUNDED]       = true;
    style[mxConstants.STYLE_EDGE]          = mxEdgeStyle.ElbowConnector;
    style[mxConstants.STYLE_]              = mxEdgeStyle.ElbowConnector;
    style[mxConstants.STYLE_STROKEWIDTH]   = 1
    style[mxConstants.STYLE_GRADIENT_DIRECTION] = mxConstants.DIRECTION_EAST;


    var style = graph.getStylesheet().getDefaultEdgeStyle();
    style[mxConstants.STYLE_ROUNDED]     = true;
    style[mxConstants.STYLE_EDGE]        = mxEdgeStyle.ElbowConnector;
    style[mxConstants.STYLE_STROKECOLOR] = '#808080'
    style[mxConstants.STYLE_STROKEWIDTH] = 1


    style = [];
    style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_SWIMLANE;
    //style[mxConstants.STYLE_PERIMETER] = mxPerimeter.RectanglePerimeter;
    style[mxConstants.STYLE_STROKECOLOR] = '#a0a0a0';
    style[mxConstants.STYLE_FONTCOLOR] = '#606060';
    style[mxConstants.STYLE_FILLCOLOR] = '#E0E0DF';
    style[mxConstants.STYLE_GRADIENTCOLOR] = 'white';
    style[mxConstants.STYLE_STARTSIZE] = 30;
    style[mxConstants.STYLE_ROUNDED] = false;
    style[mxConstants.STYLE_FONTSIZE] = 12;
    style[mxConstants.STYLE_FONTSTYLE] = 0;
    style[mxConstants.STYLE_HORIZONTAL] = false;
    // To improve text quality for vertical labels in some old IE versions...
    style[mxConstants.STYLE_LABEL_BACKGROUNDCOLOR] = '#efefef';
    graph.getStylesheet().putCellStyle('swimlane', style);

    style = [];
    style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_RHOMBUS;
    style[mxConstants.STYLE_PERIMETER] = mxPerimeter.RhombusPerimeter;
    style[mxConstants.STYLE_STROKECOLOR] = '#91BCC0';
    style[mxConstants.STYLE_FONTCOLOR] = 'gray';
    style[mxConstants.STYLE_FILLCOLOR] = '#91BCC0';
    style[mxConstants.STYLE_GRADIENTCOLOR] = 'white';
    style[mxConstants.STYLE_ALIGN] = mxConstants.ALIGN_CENTER;
    style[mxConstants.STYLE_VERTICAL_ALIGN] = mxConstants.ALIGN_MIDDLE;
    style[mxConstants.STYLE_FONTSIZE] = 16;
    graph.getStylesheet().putCellStyle('step', style);
    
    style = [];
    style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_ELLIPSE;
    style[mxConstants.STYLE_PERIMETER] = mxPerimeter.EllipsePerimeter;
    style[mxConstants.STYLE_FONTCOLOR] = 'gray';
    style[mxConstants.STYLE_FILLCOLOR] = '#A0C88F';
    style[mxConstants.STYLE_GRADIENTCOLOR] = 'white';
    style[mxConstants.STYLE_STROKECOLOR] = '#A0C88F';
    style[mxConstants.STYLE_ALIGN] = mxConstants.ALIGN_CENTER;
    style[mxConstants.STYLE_VERTICAL_ALIGN] = mxConstants.ALIGN_MIDDLE;
    style[mxConstants.STYLE_FONTSIZE] = 16;
    graph.getStylesheet().putCellStyle('start', style);
    
    style = mxUtils.clone(style);
    style[mxConstants.STYLE_FILLCOLOR] = '#DACCBC';
    style[mxConstants.STYLE_STROKECOLOR] = '#AF7F73';
    graph.getStylesheet().putCellStyle('end', style);

    graph.setTooltips(true);
    graph.setEnabled(true);
    
    // Disables folding
    graph.isCellFoldable = function(cell, collapse)
    {
        return false;
    };

    _graph.setPanning(true);
    mxEvent.disableContextMenu(_container, true);
    window.onbeforeunload = function() { return mxResources.get('changesLost'); };
    mxObjectCodec.allowEval = false;

    graph.createPanningManager = function() {
        var pm = new mxPanningManager(this);
        pm.border = 30;
        
        return pm;
    };
    
    graph.allowAutoPanning = true;
    graph.timerAutoScroll = true;

    _undoManager = createUndoManager()
    return graph;
};

	// Keeps the selection in sync with the history
function undoHandler(sender, evt)
{
    var cand = graph.getSelectionCellsForChanges(evt.getProperty('edit').changes, function(change)
    {
        // Only selects changes to the cell hierarchy
        return !(change instanceof mxChildChange);
    });
    
    if (cand.length > 0)
    {
        var model = graph.getModel();
        var cells = [];
        
        for (var i = 0; i < cand.length; i++)
        {
            if (graph.view.getState(cand[i]) != null)
            {
                cells.push(cand[i]);
            }
        }
        
        graph.setSelectionCells(cells);
    }
};

function createUndoManager()
{
	var graph = _graph;
	var undoMgr = new mxUndoManager();

	this.undoListener = function(sender, evt)
	{
		undoMgr.undoableEditHappened(evt.getProperty('edit'));
	};
	
    // Installs the command history
	var listener = mxUtils.bind(this, function(sender, evt)
	{
		this.undoListener.apply(this, arguments);
	});
	
	graph.getModel().addListener(mxEvent.UNDO, listener);
	graph.getView().addListener(mxEvent.UNDO, listener);
	
	undoMgr.addListener(mxEvent.UNDO, undoHandler);
	undoMgr.addListener(mxEvent.REDO, undoHandler);

	return undoMgr;
};



function _mxdelete(a,b,c) {
    //console.log(a,b,c)
    graph.removeCells();
    return false
}

function _mxundo() {
    _undoManager.undo()
}


let keyHandler
function addKeyHandler(graph) {
    // Stops editing on enter or escape keypress
    keyHandler = new mxKeyHandler(graph);

    keyHandler.bindKey(8, _mxdelete)  // backspace
    keyHandler.bindKey(46, _mxdelete)  // backspace
    keyHandler.bindKey(90, _mxundo)  // backspace

    mxEvent.addMouseWheelListener(function (evt, up){
        if (!mxEvent.isConsumed(evt))  {
            (up) ? _graph.zoomIn() : _graph.zoomOut()
            //mxEvent.consume(evt);
        }
    });

}

function toolbar(){
    var tbContainer = document.getElementById('toolbar');
    if (!tbContainer) {
        return
    }
    var toolbar = new mxToolbar(tbContainer);
    toolbar.enabled = false;
        
    // Matches DnD inside the graph
    mxDragSource.prototype.getDropTarget = function(graph, x, y) {
        var cell = graph.getCellAt(x, y);
        
        if (!graph.isValidDropTarget(cell)) {
            cell = null;
        }
        return cell;
    };

    var rubberband = new mxRubberband(_graph);
    addKeyHandler(graph)

    var addVertex = function(icon, w, h, style, config="{}", values={}) {
        var prototype = new mxCell(null, new mxGeometry(0, 0, w, h), style);
        prototype.setVertex(true);
        prototype.config = config
        for (var v in values) {
            var vv= values[v]
            prototype[v] = vv
        }
    
        addToolbarItem(_graph, toolbar, prototype, icon);

    };



    function addSubProcess() {
        var icon = '/static/workflow/imgs/subprocess.png'
        var cell = new mxCell('Sub-Process', new mxGeometry(0, 0, 120, 80), 'html=1;whiteSpace=wrap;rounded=1;dropTarget=0;');
        cell.vertex = true;
        
        var cell1 = new mxCell('', new mxGeometry(0.5, 1, 14, 14), 'html=1;shape=plus;outlineConnect=0;');
        cell1.vertex = true;
        cell1.geometry.relative = true;
        cell1.geometry.offset = new mxPoint(-7, -14);
        cell.insert(cell1);

        cell.config = {type: 'subprocess' }
        values = {style: "shape=subprocess" }
        for (var v in values) {
            var vv= values[v]
            cell[v] = vv
        }
    
        addToolbarItem(_graph, toolbar, cell, icon);
    };
    
    /*
    <mxCell id="15" value="Process" style="html=1;whiteSpace=wrap;rounded=1;dropTarget=0;align=center;verticalAlign=middle;" parent="2" vertex="1">
      <mxGeometry x="520" y="80" width="120" height="80" as="geometry" />
    </mxCell>
    <mxCell id="16" value="" style="shape=mxgraph.bpmn.timer_start;perimeter=ellipsePerimeter;html=1;verticalLabelPosition=bottom;verticalAlign=top;outlineConnect=0;" parent="15" vertex="1">
      <mxGeometry x="1" y="1" width="30" height="30" relative="1" as="geometry">
        <mxPoint x="-40" y="-15" as="offset" />
      </mxGeometry>
    </mxCell>
*/

    function addScheduleProcess() {
        var icon = '/static/workflow/imgs/schprocess.png'
        var cell = new mxCell('Schedule-Process', new mxGeometry(0, 0, 120, 80), 'html=1;whiteSpace=wrap;rounded=1;dropTarget=0;');
        cell.vertex = true;
        
        var cell1 = new mxCell('', new mxGeometry(1, 1, 30, 30), 'html=1;shape=image;image=/static/workflow/javascript/examples/editors/images/symbols/timer.png;outlineConnect=0;');
        cell1.vertex = true;
        cell1.geometry.relative = true;
        cell1.geometry.offset = new mxPoint(-40, -15);
        cell.insert(cell1);

        cell.config = {type: 'scheduled_process' }
        values = {style: "shape=scheduled_process" }
        for (var v in values) {
            var vv= values[v]
            cell[v] = vv
        }
    
        addToolbarItem(_graph, toolbar, cell, icon);
    };

    addVertex('/static/workflow/imgs/lane1.png',      120, 160, 'swimlane;startSize=40;');
    addVertex('/static/workflow/imgs/process1.png',   100, 40, 'shape=rectagnle');
    addVertex('/static/workflow/imgs/process2.png',   100, 40, 'shape=rounded');
    addVertex('/static/workflow/imgs/oval.png',       40,  40, 'shape=ellipse');
    addVertex('/static/workflow/imgs/decision.png',   40,  40, 'shape=rhombus');
    addVertex('/static/workflow/imgs/triangle.png',   40,  40, 'shape=triangle');
    addVertex('/static/workflow/imgs/db.png',         40,  40, 'shape=cylinder');
    addVertex('/static/workflow/imgs/actor.png',      30,  40, 'shape=actor', config="{cmd: 'open http://www', run '[2,3]'}");

    addVertex('/static/workflow/javascript/examples/editors/images/symbols/message.png',     30,  30, 
            "shape=actor",
            config={type: 'email', to: 'who@whodat.com'},
            {style: "shape=image;image=/static/workflow/javascript/examples/editors/images/symbols/message.png" }
            );

    addVertex('/static/workflow/imgs/start.png',     30,  30, 
            'start', 
            "{type: 'start'}", {value: "S"},
            );

	addVertex('/static/workflow/javascript/examples/editors/images/symbols/timer.png', 30, 30,
                "shape=actor", {type: 'schedule', crontab: '5 4 * * *' }, 
                {style: "shape=image;image=/static/workflow/javascript/examples/editors/images/symbols/timer.png" })


    addSubProcess()
    addScheduleProcess()

}

function createEditor(config='/static/mxgraph-js/javascript/examples/editors/config/workfloweditor.xml'){
    var editor = null;
    console.log("Create editor...")
    try{
        mxObjectCodec.allowEval = true;
        var node = mxUtils.load(config).getDocumentElement();
        editor = new mxEditor(node);
        mxObjectCodec.allowEval = false;
        
        // Adds active border for panning inside the container
        editor.graph.createPanningManager = function() {
            var pm = new mxPanningManager(this);
            pm.border = 30;
            return pm;
        };
        
        editor.graph.allowAutoPanning = true;
        editor.graph.timerAutoScroll = true;
        
        // Updates the window title after opening new files
        var title = document.title;
        var funct = function(sender) {
            document.title = title + ' - ' + sender.getTitle();
        };
        
        editor.addListener(mxEvent.OPEN, funct);
        
        // Prints the current root in the window title if the
        // current root of the graph changes (drilling).
        editor.addListener(mxEvent.ROOT, funct);
        funct(editor);
    }
    catch (e) {
        alert('Cannot load config: ' + e.message);
        throw e; // for debugging
    }

    return editor;
}


// Function that is executed when the image is dropped on
// the graph. The cell argument points to the cell under
// the mousepointer if there is one.
function addToolbarItem(graph, toolbar, prototype, image) {
    var funct = function(graph, evt, cell) {
        graph.stopEditing(false);

        var pt = graph.getPointForEvent(evt);
        var vertex = graph.getModel().cloneCell(prototype);
        vertex.geometry.x = pt.x;
        vertex.geometry.y = pt.y;

        var p = prototype.config
        vertex.config = (typeof(p) === "string" )? p : JSON.stringify(p, null, 2)

        graph.setSelectionCells(graph.importCells([vertex], 0, 0, cell));
        console.log("Adding...")
    }
    // Creates the image which is used as the drag icon (preview)
    var img = toolbar.addMode(null, image, funct, image, "toolbarimg");
    mxUtils.makeDraggable(img, graph, funct);
 
    //console.log("image", image)
}


</script>

